body {
    font-family: sans-serif;
}

/* Section wrapper */
.title {
    font-weight: bolder;
}

.section {
    margin-bottom: 50px;
}

.section h3 {
    padding: 0px;
    margin: 0px;
}

hr {
    margin-top: 1;
}

/* Today's weather section */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 0px;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
}

.form-inline button {
    cursor: pointer;
    margin-right: 5px;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline button {
        margin: 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}

/* Not found div */
.not-found {
    background-color: rgb(252, 219, 219);
    border: solid 2px red;
    padding: 3px;
}

/* No record div */
.no-record {
    text-align: center;
    color: #8d8d8d;
}

/* Card */
.container {
    display: flex;
    align-items: flex-start;
}

.card {
    border-radius: 1em;
    padding: 16px;
    background-color: #d0d0d0;
}

.card td {
    vertical-align: top;
    padding-right: 5px;
}

.card td:nth-child(1) {
    color: #444444;
}

.card tr:nth-child(2) td {
    vertical-align: middle;
}

.card h1 {
    margin: 0px 0px 10px 0px;
    color: black;
}

/* History section*/
.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    margin: 0px 5px;
}

.round-button:hover {
    background-color: #cccccc;
}