body {
    font-family: sans-serif;
}

h3 {
    padding: 0px;
    margin: 0px;
}

/* Section wrapper */
.title {
    font-weight: bolder;
}

.section {
    margin-bottom: 50px;
}

hr {
    margin-top: 1;
}

/* Today's weather section */
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
  }
  
  .form-inline button {
    cursor: pointer;
    margin-right: 5px;
  }

  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
    
    .form-inline button {
        margin: 0;
      }
      
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

/* Not found div */
.not-found {
    background-color: rgb(252, 219, 219);
    border: solid 2px red;
    padding: 3px;
}

/* No record div */
.no-record {
    text-align: center;
    color: #8d8d8d;
}

/* Card */
.card {
    padding: 16px;
}

/* History section*/
.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.round-button:hover {
    background-color: #cccccc;
}